@model Klinika.Models.Visits

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Visits</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compleated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compleated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.IdWorker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Pesel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVisit">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
