@model IEnumerable<Klinika.Models.MedicalSpecializations>

@{
    ViewData["Title"] = "Specjalizacje";
}

<h1>Specjalizacje</h1>

<p>
    <a asp-action="Create">Dodaj nową specjalizację</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationName)
            </th>
            <th>Edytuj</th>
            <th>Informacje</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecializationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSpecialization">
                    <img src="~/images/edytuj2.png" />
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdSpecialization">
                    <img src="~/images/info.png" />
                </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.IdSpecialization">
                    <img src="~/images/usun.png" />
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
