@model Klinika.Models.Medicines

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Leki</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visit.IdVisit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMedicine">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
